/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ccc;
}

.inputsection {
  text-align: center;
}

input {
  padding: 7px;
  width: 60%;

  border: 1px solid #ccc;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
input:focus {
  outline: none;
}

button.btn {
  padding: 7px 14px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -5px;
}

.inputsection button:hover {
  background-color: rgb(4, 99, 4);
}

.title {
  text-align: center;
  margin: 50px 0;
  font-weight: 800;
  font-size: x-large;
}

.more {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.showMore {
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: rgb(17, 160, 17);
  display: none;
}

.showMore:hover {
  background-color: rgb(6, 107, 6);
}

.cardContainer {
  margin: 2em auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  width: 90%;
}

.card {
  text-align: center;
  font-size: 1rem;
  color: #333; /* Darkened color for better readability */
  background-color: #fff; /* White background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  /* Increased margin for better separation */
  overflow: hidden;
  height: max-content;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition on hover */
}

.card img {
  max-width: 100%; /* Ensure images don't overflow their containers */
  /* Rounded corners for images */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for images */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition on hover */
  height: 270px;
  width: 270px;
}
a {
  text-decoration: none;
}
.card p {
  margin: 10px;
  word-wrap: break-word;
  color: #4d4d4d;
}

.card:hover {
  /* Lift card slightly on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover for depth */
}

.card img:hover {
  transform: scale(1.05); /* Enlarge image slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Enhanced shadow for images on hover */
}

.card {
  position: relative;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
  background-color: rgba(219, 25, 25, 0.226); /* Semi-transparent overlay */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 1s;
}

.card:hover .overlay {
  display: flex; /* Show overlay on hover */
  gap: 10px;
}

.card .download-btn {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card .download-btn:hover {
  background-color: #555;
}
